<div class="col-md-8 offset-md-2">
    <a href="/items/newitem" class="btn btn-success">New Item</a>
    <br>
    <table class="table table-hover table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Category Name</th>
                <th>Due Date</th>
                <th>Mark as Completed</th>
            </tr>
            <% for(let i=0; i < items.length; i++) { %>
                <tr class=<%=items[i].DueDate < new Date() ? 'table-danger' : '' %>>
                    <td>
                        <%= items[i].Id %>
                    </td>
                    <td>
                        <%= items[i].Title %>
                    </td>
                    <td>
                        <%= items[i].CategoryName %>
                    </td>
                    <td>
                        <%= items[i].DueDate %>
                    </td>
                    <td>
                        <form method="post" action="/items/markAsCompleted">
                            <input name="id" type="hidden" value="<%= items[i].Id %>" ">
                        <button class="btn btn-primary ">Mark as Completed</button>
                    </form>
                </td>
            </tr>
        <%}%>
       
    </tbody></table>
</div>